.popup .popup_prize, .popup .popup_noprize {
  overflow: hidden;
  padding: 15px;
  width: 85%;
  border-radius: 10px;
  background-color: #fecd29;
  z-index: 20;
  position: fixed;
  left: 50%;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .popup .popup_prize, .popup .popup_noprize {
      width: 400px; } }
  .popup .popup_prize img.prizeImg, .popup .popup_noprize img.prizeImg {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px; }
  .popup .popup_prize h5, .popup .popup_noprize h5 {
    font-weight: bold;
    font-size: 22px;
    margin: 5px; }
    @media (max-width: 320px) {
      .popup .popup_prize h5, .popup .popup_noprize h5 {
        font-size: 20px; } }
  .popup .popup_prize h6, .popup .popup_noprize h6 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px; }
    @media (max-width: 320px) {
      .popup .popup_prize h6, .popup .popup_noprize h6 {
        font-size: 20px; } }
  .popup .popup_prize a.popbtnuse, .popup .popup_noprize a.popbtnuse {
    width: 90%;
    font-size: 18px;
    color: #fff;
    background-color: #e91e63;
    padding: 8px 14px;
    display: inline-block;
    border-radius: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    border: 2px solid #e91e63; }
    @media (max-width: 375px) {
      .popup .popup_prize a.popbtnuse, .popup .popup_noprize a.popbtnuse {
        font-size: 16px; } }
    @media (max-width: 320px) {
      .popup .popup_prize a.popbtnuse, .popup .popup_noprize a.popbtnuse {
        width: 100%; } }
  .popup .popup_prize a.popbtnmy, .popup .popup_noprize a.popbtnmy {
    width: 90%;
    font-size: 18px;
    color: #fff;
    background-color: #fecd29;
    padding: 8px 10px;
    border: 2px solid #e91e63;
    display: inline-block;
    border-radius: 50px;
    color: #e91e63;
    font-weight: bold;
    margin-bottom: 10px; }
    @media (max-width: 375px) {
      .popup .popup_prize a.popbtnmy, .popup .popup_noprize a.popbtnmy {
        font-size: 16px; } }
    @media (max-width: 320px) {
      .popup .popup_prize a.popbtnmy, .popup .popup_noprize a.popbtnmy {
        width: 100%; } }
  .popup .popup_prize img.popupbg, .popup .popup_noprize img.popupbg {
    position: absolute;
    left: 50%;
    top: -10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
    -webkit-animation: popupbg 20s infinite linear;
    animation: popupbg 20s infinite linear; }

@-webkit-keyframes popupbg {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg) scale(2.5);
    transform: translateX(-50%) rotate(0deg) scale(2.5); }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(2.5);
    transform: translateX(-50%) rotate(180deg) scale(2.5); }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg) scale(2.5);
    transform: translateX(-50%) rotate(360deg) scale(2.5); } }

@keyframes popupbg {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg) scale(2.5);
    transform: translateX(-50%) rotate(0deg) scale(2.5); }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(2.5);
    transform: translateX(-50%) rotate(180deg) scale(2.5); }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg) scale(2.5);
    transform: translateX(-50%) rotate(360deg) scale(2.5); } }

.popup .popbg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }
  .popup .popbg img {
    width: 100%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (min-width: 768px) {
      .popup .popbg img {
        width: 578px; } }
  .popup .popbg img:nth-of-type(2) {
    position: absolute;
    left: 50%;
    top: 77%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg); }

header {
  z-index: 100;
  width: 100%;
  position: relative;
  height: 72px;
  background-color: #21273b; }
  header img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

main {
  height: 100%; }
  main .container {
    background-color: #fecd29;
    overflow: hidden;
    position: relative; }
    @media (min-width: 768px) {
      main .container {
        width: 576px; } }
    main .container .content {
      z-index: 1;
      padding-top: 130px;
      height: 100%;
      position: relative; }
      @media (max-width: 375px) {
        main .container .content {
          padding-top: 110px; } }
      @media (max-width: 320px) {
        main .container .content {
          padding-top: 90px; } }
      main .container .content .light img {
        opacity: 0;
        width: 20px;
        position: absolute;
        pointer-events: none;
        left: 0%;
        top: -10%;
        z-index: 115; }
        @media (min-width: 768px) {
          main .container .content .light img {
            width: 30px; } }
      main .container .content .title {
        padding: 0 60px;
        text-align: left;
        position: relative;
        z-index: 100; }
        @media (min-width: 768px) {
          main .container .content .title {
            padding: 40px 60px 0 60px; } }
        @media (max-width: 375px) {
          main .container .content .title {
            padding: 0 50px; } }
        @media (max-width: 320px) {
          main .container .content .title {
            padding: 0 40px; } }
        main .container .content .title h1 {
          font-size: 20px;
          font-weight: bold;
          color: #555;
          font-size: 20px;
          margin: 8px 0 6px 0;
          color: #333; }
          @media (min-width: 768px) {
            main .container .content .title h1 {
              font-size: 26px;
              margin: 30px 0 10px 0; } }
          @media (max-width: 375px) {
            main .container .content .title h1 {
              font-size: 20px; } }
          @media (max-width: 320px) {
            main .container .content .title h1 {
              font-size: 18px; } }
      main .container .content .curtain img.left, main .container .content .curtain img.right {
        width: 144px;
        z-index: 1; }
      main .container .content .curtain img.top {
        width: 100%;
        z-index: 2;
        position: absolute;
        left: 0%;
        top: -40px; }
        @media (min-width: 900px) {
          main .container .content .curtain img.top {
            top: -56px; } }
      main .container .content .curtain img.left {
        position: absolute;
        left: -60px;
        top: 0%; }
        @media (max-width: 375px) {
          main .container .content .curtain img.left {
            left: -70px;
            top: -1%; } }
        @media (max-width: 320px) {
          main .container .content .curtain img.left {
            left: -80px;
            top: -1%; } }
      main .container .content .curtain img.right {
        position: absolute;
        right: -60px;
        top: 0%; }
        @media (max-width: 375px) {
          main .container .content .curtain img.right {
            right: -70px;
            top: -1%; } }
        @media (max-width: 320px) {
          main .container .content .curtain img.right {
            right: -80px;
            top: -1%; } }
      main .container .content .curtain img.signboard {
        width: 44%;
        position: absolute;
        top: -30px;
        z-index: 5; }
      main .container .content .scratch {
        z-index: 3;
        position: relative;
        margin-bottom: 20px; }
        main .container .content .scratch .scratchArea {
          position: absolute;
          left: 50%;
          top: 35%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%;
          height: auto; }
          main .container .content .scratch .scratchArea .sc__wrapper {
            cursor: pointer;
            display: block;
            width: 70%;
            margin: 0 auto; }
            main .container .content .scratch .scratchArea .sc__wrapper .sc__container {
              position: relative;
              overflow: hidden; }
            main .container .content .scratch .scratchArea .sc__wrapper .sc__container > img {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: auto; }
            main .container .content .scratch .scratchArea .sc__wrapper .sc__container canvas {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: auto; }
          main .container .content .scratch .scratchArea #hand {
            position: absolute;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            pointer-events: none;
            left: 50%;
            top: 50%;
            z-index: 100;
            width: 80px;
            -webkit-animation: hand 1s infinite;
            animation: hand 1s infinite; }

@-webkit-keyframes hand {
  0% {
    -webkit-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px); }
  50% {
    -webkit-transform: translate(30px, -30px);
    transform: translate(30px, -30px); }
  100% {
    -webkit-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px); } }

@keyframes hand {
  0% {
    -webkit-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px); }
  50% {
    -webkit-transform: translate(30px, -30px);
    transform: translate(30px, -30px); }
  100% {
    -webkit-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px); } }
        main .container .content .scratch img.stage {
          width: 90%;
          z-index: 10; }
      main .container .content .info {
        padding: 15px;
        margin: 0 15px 0px 15px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px; }
        main .container .content .info .infoTitle {
          margin-bottom: 15px;
          background-color: #69205b;
          display: inline-block;
          color: #fec018;
          border: 2px solid #fec018;
          border-radius: 50px;
          font-size: 14px;
          font-weight: bold;
          padding: 2px 14px; }
          @media (min-width: 768px) {
            main .container .content .info .infoTitle {
              font-size: 16px; } }
        main .container .content .info .prizelist {
          margin: 0 -5px; }
          main .container .content .info .prizelist img {
            margin-bottom: 5px; }
          main .container .content .info .prizelist p {
            line-height: 20px; }
            main .container .content .info .prizelist p span {
              font-weight: bold;
              margin-right: 5px; }
            @media (max-width: 320px) {
              main .container .content .info .prizelist p {
                font-size: 14px; } }
        main .container .content .info .eventdate p, main .container .content .info .eventnote p {
          font-size: 14px;
          color: #555;
          text-indent: -1.1em;
          margin-left: 1em; }
          @media (min-width: 768px) {
            main .container .content .info .eventdate p, main .container .content .info .eventnote p {
              font-size: 16px; } }
    main .container .bg {
      z-index: 0;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 150px;
      -webkit-animation: bg 20s infinite linear;
      animation: bg 20s infinite linear; }

@-webkit-keyframes bg {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg) scale(2.5);
    transform: translateX(-50%) rotate(0deg) scale(2.5); }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(2.5);
    transform: translateX(-50%) rotate(180deg) scale(2.5); }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg) scale(2.5);
    transform: translateX(-50%) rotate(360deg) scale(2.5); } }

@keyframes bg {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg) scale(2.5);
    transform: translateX(-50%) rotate(0deg) scale(2.5); }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg) scale(2.5);
    transform: translateX(-50%) rotate(180deg) scale(2.5); }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg) scale(2.5);
    transform: translateX(-50%) rotate(360deg) scale(2.5); } }

footer {
  z-index: 100;
  width: 100%;
  height: 10px;
  background-color: #21273b;
  position: fixed;
  bottom: 0; }

.color-sub {
  color: #e91e63 !important; }

.hide {
  display: none !important; }

.blink {
  -webkit-animation: blink 0.7s linear;
  animation: blink 0.7s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.btnGray {
  background-color: #999 !important;
  border: 1px solid #999 !important;
  pointer-events: none !important; }

/*signboard*/
@-webkit-keyframes bounceInDownSign {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }
@keyframes bounceInDownSign {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

.bounceInDownSign {
  -webkit-animation-name: bounceInDownSign;
  animation-name: bounceInDownSign; }

@-webkit-keyframes bounceInPopup {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3); }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1); }
  40% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.03);
    transform: translate(-50%, -50%) scale(1.03); }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.97);
    transform: translate(-50%, -50%) scale(0.97); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

@keyframes bounceInPopup {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3); }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1); }
  40% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.03);
    transform: translate(-50%, -50%) scale(1.03); }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.97);
    transform: translate(-50%, -50%) scale(0.97); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); } }

.bounceInPopup {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceInPopup;
  animation-name: bounceInPopup; }

/*bounceInDownCong1*/
@-webkit-keyframes bounceInDownCong1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }
@keyframes bounceInDownCong1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -3000px);
    transform: translate(-50%, -3000px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px); }
  75% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  90% {
    -webkit-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px); }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

.bounceInDownCong1 {
  -webkit-animation-name: bounceInDownCong1;
  animation-name: bounceInDownCong1; }

@-webkit-keyframes bounceInUpCong2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 3000px) rotate(180deg);
    transform: translate(-50%, 3000px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -20px) rotate(180deg);
    transform: translate(-50%, -20px) rotate(180deg); }
  75% {
    -webkit-transform: translate(-50%, 10px) rotate(180deg);
    transform: translate(-50%, 10px) rotate(180deg); }
  90% {
    -webkit-transform: translate(-50%, -5px) rotate(180deg);
    transform: translate(-50%, -5px) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, 0) rotate(180deg);
    transform: translate(-50%, 0) rotate(180deg); } }

@keyframes bounceInUpCong2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 3000px) rotate(180deg);
    transform: translate(-50%, 3000px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(-50%, -20px) rotate(180deg);
    transform: translate(-50%, -20px) rotate(180deg); }
  75% {
    -webkit-transform: translate(-50%, 10px) rotate(180deg);
    transform: translate(-50%, 10px) rotate(180deg); }
  90% {
    -webkit-transform: translate(-50%, -5px) rotate(180deg);
    transform: translate(-50%, -5px) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, 0) rotate(180deg);
    transform: translate(-50%, 0) rotate(180deg); } }

.bounceInUpCong2 {
  -webkit-animation-name: bounceInUpCong2;
  animation-name: bounceInUpCong2; }
