@font-face {
  font-family: 'OptimaEL-Text';
  src: url('../fonts/oel/OptimaEL-Text.eot');
  // src: url('OptimaEL-Text.eot');
  src: url('../fonts/oel/OptimaEL-Text.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oel/OptimaEL-Text.svg#OptimaEL-Text') format('svg'),
       url('../fonts/oel/OptimaEL-Text.ttf') format('truetype'),
       url('../fonts/oel/OptimaEL-Text.woff') format('woff'),
       url('../fonts/oel/OptimaEL-Text.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
