.sc__canvas {
  position: absolute;
  top: 0;
}
.modal-prize-photo {
  max-width: 104.6%;
  transform: translateX(-2.3%);
}
.bg-event {
  background: url(../img/bg-event.jpg) top center;
  background-size: 100%;
}
.scratch- {
  &hand {
    width: 17%;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    z-index: 3;
  }
  &prize-title {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.result- {
  &title {
    top: 12.5%;
  }
  &bg {
    background: url(../img/result-bg.jpg) top center;
    background-size: 100%;
  }
  &flower- {
    &item {
      width: 30%;
    }
    &1 {
      top: 17.9%;
      left: -5%;
    }
    &2 {
      top: 9.9%;
      right: -1%;
    }
  }
}
.type-modal-bg {
  background: url(../img/type-modal-bg.jpg) top center;
  background-size: 100%;
}

.coupon-used .result-title,
.coupon-used .modal-prize-photo {
  filter: contrast(20%);
}
.coupon-used::before {
  display: block;
  content: "已兌換";
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  z-index: 4;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
}
